<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %} JPC Best Movers {% endblock %} </title>
<link href= "{% static 'base.css' %}" rel="stylesheet"></link>
<script src="{% static 'init.js' %}"></script>
<link rel="icon" type="image/x-icon" href="{% static 'Images/favicon.ico' %}">
</head>
<body>
        <nav class="grid">
            <div>
            <img src="{% static 'Images/nobacklog.png' %}" alt="Logo" style="width: 80%;">
            </div>
            <section>
                <ul>
                <li style="display: inline-block;"><a href="{% url 'index' %}">Home</a></li>
                <li style="display: inline-block;"><a href="{% url 'services' %}">Services</a></li>
                <li style="display: inline-block;"><a href="{% url 'contact' %}">Contact</a></li>
                <li style="display: inline-block;"><a href="{% url 'reviews' %}"> Reviews </a></li>
                </ul>
            </section>
        </nav>
    {% block content %}

    {% endblock %}
        <div style="position:relative;">
            <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
                <footer>&copy; 2021 JPC BEST MOVERS.</footer>
            </div>
          </div>
</body>
</html>