{% extends 'base.html' %}
{% block content %}
    <head>
        <title>JPC Best Movers</title>
    </head>
    <body>
    <main class="form">
        <h1> Contact Us </h1>
        <div style="border: 0.3vw dashed black">
        <h4>Email: JPCbestmovers@gmail.com</h4>
        <h4>Instagram: @JPC_Movers</h4>
        <h4>Facebook: JPC Best Movers</h4>
        <h4>Phone: (703) 869-5547</h4>
        <h4>You may text or call this number</h4></div>
        <h1>Get A Quote</h1>
        </form>
    </main>
    </body>
{% endblock %}