{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="central">
    <h2>Make a Reservation</h2>
    <form method="post">
     <div class="form-group">
        <label for="id_service">Service:</label>
        {{ form.service }}
    </div>


        {% csrf_token %}
        <div class="form-group">
            <label for="id_customer_name">Name:</label>
            {{ form.customer_name }}
        </div>

    <div class="form-group">
        <label for="id_customer_email">Email:</label>
        {{ form.customer_email }}
    </div>

        <div class="form-group">
            <label for="id_customer_phone">Phone Number:</label>
            {{ form.customer_phone }}
        </div>
<div class="form-group">
    <label for="id_move_datetime">Move Date & Time:</label>
    {{ form.move_datetime }} 
</div>

    <div class="form-group">
        <label for="id_origin_address">Origin Address:</label>
        {{ form.origin_address }}
    </div>

    <div class="form-group">
        <label for="id_destination_address">Destination Address (Optional):</label>
        {{ form.destination_address }}
    </div>

<div class="form-group">
    <label for="id_workers">Number of Workers:</label>
    {{ form.workers }}
</div>

<div class="form-group">
    <label for="id_hours">Number of Hours:</label>
    {{ form.hours }}
</div>
<p><strong>Total: <span id="total-cost">$0.00</span></strong></p>
<p>Please note that time is not guaranteed. When we call to confirm, we will schedule based on availability.</p>
  <button type="submit" class="button">Reserve Now</button>
</form>
</main>

<!-- JSON service price data for JS -->
<script id="service-prices" type="application/json">
    {
        {% for service in form.fields.service.queryset %}
            "{{ service.id }}": "{{ service.base_price_per_hour }}"{% if not forloop.last %},{% endif %}
        {% endfor %}
    }
</script>
{% endblock %}
